.bg-img1 {
  background-color: #000;
  background-size: cover;
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
}
footer {
  display: flex;
  float: left;
  margin-left: 50px;
}
.back {
  display: flex;
  align-items: end;
}
.drei {
  margin-left: 10px;
  display: flex;
  float: left;
  gap: 10px;
}
